# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio files

*.pdb
*.idb

# User files
*.user
*.log

# Archivos de Mac
**/.DS_Store

# Archivos de la compilacion de las librerias de EDEN
*.EDENBUILD

# Folders

[Bb]in/*
[Tt]emp/
[Ll]ib/
.vs/
.idea/
cmake-build-debug/
cmake-build-release/

[Dd]ependencies/[Oo]gre/[Bb]uild/
[Dd]ependencies/[Bb]ullet/[Bb]uild/
[Dd]ependencies/[Ll]ua/[Bb]uild/
[Dd]ependencies/[Ll]uaBridge/[Bb]uild/
[Dd]ependencies/[Ss][Dd][Ll]/[Bb]uild/
[Dd]ependencies/[Ss][Dd][Ll]_[Nn]et/[Bb]uild/
[Dd]ependencies/[Zz]lib/[Bb]uild/

[Pp]rojects/[Ee]den_[Mm]ain/[Ee][Dd][Ee][Nn]_[Ee]rror[Ll]og.txt


# Exceptions

![Bb]in/[Aa]ssets/
![Bb]in/resources.cfg
![Bb]in/plugins.cfg
![Dd]ependencies/[Ff][Mm][Oo][Dd]/[Bb]uild/x64/*
![Dd]ependencies/[Ii]rr[Kk]lang/[Bb]uild/x64/*
![Dd]ependencies/[Ii]rr[Kk]lang/[Bb]uild/arm64/*
