# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio files

*.pdb
*.idb

# Folders

[Bb]in/*
[Tt]emp/
[Ll]ib/
.vs/

[Dd]ependencies/[Bb]in/[Oo]gre/[Bb]uild
[Dd]ependencies/[Bb]in/[Bb]ullet/[Bb]uild
[Dd]ependencies/[Bb]in/[Ll]ua/[Bb]uild


# Exceptions

![Bb]in/[Aa]ssets/